nav{
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;    
}
nav a{
    text-decoration: underline;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px;
}