nav{
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-between;    
}
nav a{
    text-decoration: underline;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 5px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
  background-color: white;
}

.main-nike {
  text-align: center;
}

.nike-hero {
  text-align: center;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 1px;
}

.nike-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.nike-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: lightgray;
}

.nike-featured {
  padding: 60px 20px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  border: 1px solid gray;
}

.product-img {
  width: 50%;
  border-radius: 10px;

}

.product-name {
  margin-top: 10px;
  font-weight: bold;
}

.product-desc {
  color: gray;
  font-size: 14px;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: red;
  font-size: 16px;
}
img{
width: 100px;
height: 100px

}
header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
background-color: black;
color: aliceblue;

 }


 .buttonat button{
background-color: white;
color: black;
border-radius: 10px;
padding: 5px;
border: 2px solid white;
margin-right: 5px;

 }
button:hover{
background-color: white;
color: black;
cursor: pointer;
 }
.contact {
    margin: 20px;
}
 .a{
  color: black;
 }
 footer{
color: white;
  background-color: black;
  padding: 50px;
  margin-bottom: 0px;
 }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}
.iframe {
    width: 100%;
    height: 600px;
    border: #1a1a1a solid 2px;
    border-radius: 5px;
    box-shadow:  0 2px 5px rgba(0,0,0,0.1);
}
.dd{
  margin-left: 20px;
  letter-spacing: 3px;
}
