nav{
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;    
}
nav a{
    text-decoration: underline;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
  background-color: white;
}

.main-nike {
  text-align: center;
}

.nike-hero {
  background-image: url('nike-hero.jpg');
  text-align: center;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 1px;
}

.nike-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.nike-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: lightgray;
}

.nike-featured {
  padding: 60px 20px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  border: 1px solid gray;
}

.product-img {
  width: 50%;
  border-radius: 10px;

}

.product-name {
  margin-top: 10px;
  font-weight: bold;
}

.product-desc {
  color: gray;
  font-size: 14px;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: red;
  font-size: 16px;
}
img{
width: 100px;
height: 75px

}
header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
background-color: black;
color: aliceblue;

 }


 .buttonat button{
background-color: gray;
color: black;
border-radius: 10px;
padding: 5px;
border: 2px solid white;

 }
button:hover{
background-color: white;
color: black;
cursor: pointer;
 }
 .dd{

  margin-left: 70px;  
 }
 .a{
  color: black;
 }
 footer{
color: white;
  background-color: black;
  padding: 50px;
  margin-bottom: 0px;
 }