img{
width: 100px;
height: 75px

}
header{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
background-color: black;
color: aliceblue;

 }


 button{
background-color: white;
color: black;

 }
 button:hover{
background-color: white;
color: black;
cursor: pointer;
 }
 .dd{

  margin-left: 70px;  
 }